* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}

header h1{
color: #29b1dd;
padding: 10px;
}

.select-container{
  background-color: #29b1dd;
  text-align: center;
  padding: 20px 0px;
}

.element-container{
  background-color: lightgray;
  gap: 25px;
}

.icon-container{
  background-color: white;
  height: 100px;
  width: 200px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 1px gray;
}

.orange{
  color: orange;
}
.blue{
  color: blue;
}
.green{
  color: green;
}
#label-select{
  color: white;
}